body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid #555;
    background-color: #444; /* Cor de fundo da calculadora */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 260px;
}

.calculator input {
    margin-bottom: 10px;
    padding: 15px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    font-size: 24px;
    text-align: right;
    border: 1px solid #666;
    border-radius: 8px;
    background-color: #444; /* Mesmo fundo que a calculadora */
    color: #eee;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator button {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #666;
    background-color: #555; /* Cor uniforme para todos os botões */
    color: #eee;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.1s;
    flex: 1;
    margin: 2px;
    box-shadow: inset 0 0 3px #000;
}

.calculator button:hover {
    background-color: #666;
}

.calculator button:active {
    background-color: #444;
    transform: scale(0.95);
}

.button-container .zero {
    flex: 2;
}

.button-container .equals {
    background-color: #666; /* Mesmo tom para o botão de "=" */
    color: #eee;
    flex: 2;
}

footer {
    font-size: 14px;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}
